* {
    margin: 0;
    padding: 0;
}

.container {
    border: 2px solid indianred;
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.nav  {
    border: 2px solid yellow;
    width: 100%;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
}

.nav ul li {
    display: inline;
}

.right-nav {
    float: right;
}

.logo {
    border: 2px solid forestgreen;
    width: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.search-form {
    margin: 0 auto;
}

.search-form form input {
    box-sizing: border-box;
    width: 400px;
    height: 40px;
}

.footer {
    border: 2px solid cornflowerblue;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
}

.footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
}

.footer ul li {
    display: inline;
}

.div-footer-left {
    display: inline-block;
    float: left;
    width: 33%;
    border: 2px solid black;
}

.footer-left {
    float: left;
}

.div-footer-middle {
    display: inline-block;
    width: 33%;
    border: 2px solid black;
}

.div-footer-right {
    display: inline-block;
    float: right;
    width: 33%;
    border: 2px solid black;
}

.footer-right {
    float: right;
}