* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.nav  {
    width: 100%;
    padding: 15px;
}

.nav a {
    text-decoration: none;
}

.nav a:link {
    color: #3e3e3e;
}

.nav a:visited {
    color: #3e3e3e;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
}

.nav ul li {
    display: inline;
    margin: 0 5px;
}

.right-nav {
    float: right;
}

.sign-in-button {
    background-color: #4484EE;
    border-radius: 5px;
    padding: 10px;
    color: white;
    border: 0;
}

.logo {
    width: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}

.logo img {
    width: 20%;
    height: auto;
}

.google-search {
    margin-top: 50px;
}

.search-form {
    margin: 0 auto;
}

#search-box {
    box-sizing: border-box;
    width: 500px;
    height: 40px;
    border-radius: 25px;
}

.search-buttons {
    text-align: center;
    margin-top: 30px;
}

.search-buttons button {
    padding: 15px;
    margin: 5px;
    border: 0;
    border-radius: 5px;
}

.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color: #F2F2F2;
    padding: 10px;
    box-sizing: border-box;
    border-top: 1px solid lightgray;
}

.footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
}

.footer ul li {
    display: inline;
    margin: 0 10px;
}

.footer a {
    text-decoration: none;
}

.footer a:link {
    color: #757474;
}

.footer a:visited {
    color: #757474;
}

.div-footer-left {
    display: inline-block;
    float: left;
    width: 30%;
    margin-left: 20px;
}

.footer-left {
    float: left;
}

.div-footer-middle {
    display: inline-block;
    width: 30%;
}

.div-footer-right {
    display: inline-block;
    float: right;
    width: 30%;
    margin-right: 20px;
}

.footer-right {
    float: right;
}